.containerTable {
    padding: 0 20%;
}

.containerTable h3 {
    text-align: center;
}
.btnMoreInfo {
    background-color: darkturquoise;
}
.btnAddActivity {
    background-color: #8FEB91; 
    padding: 5px;
}
.functionBtn {
    height: 30.21px;
    width: 30.21px;
}
.btnDelete {
    background-color: #8e2607;
}
.btnDelete i {
    color: rgb(203, 189, 189);
}