.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actImg {
    max-width: 400px;
    /* doe iets leuks  */
}
.card {
    border: 3px solid black;
    padding: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardText {
    text-wrap: wrap;
}
.txtDescription {
    width: 400px;
    min-height: 150px;
    resize: none;
}
#signUpTable {
    width: 700px;
}