.container {
    display: flex;
    background-color: #f5af00;
} 

.actImg {
    opacity: 0.5;
    margin-left: -40px;
}
/*
.card {
    border: 3px solid black;
    padding: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardText {
    text-wrap: wrap;
}  */
 .txtDescription {
    width: 500px;
    min-height: 70px;
    resize: none;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 5px;
}

.leftSide
{
    border-radius: 0 40px 0 0;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 50%;
    background-color: #0f132f;
    color: white;
    padding-left: 80px;
    z-index: 1;
}

.orange
{
    color: #f5af00;
}

.rightSide
{
    width: 50%;
}
#signUpTable {
    width: 700px;
    
}
#signUpTable {
    width: 700px;
}