body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}


* {
    margin: 0;
    padding: 0;
}

.Footer
{
    padding: 20px;   
    display: flex; 
    justify-content: center;
    /* background-color: #0f132f; */
}

.Menu
{
    display: flex;
}

.Menu a
{
    display: flex;
    align-items: center;
    align-self: center;
    text-decoration: none;
    color: black;
    border: 1px white;
    
}

.Menu a:hover
{
    color: #f5af00;
}

.Menu a:active
{
    border-bottom: 2px #f5af00 dashed;
    color: black;
}

li {
    list-style: none;
    margin-right: 40px;
}