body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.topContent {
    display: flex;
    max-width: 100%;
    height: auto;
}

.rightContent {
    width: 60%;
    height: auto;
    overflow: hidden;
    margin-left: -10%;
    z-index: -2;
}

.rightContent img {
    display: flex;
    object-fit: fill;
    width: 100%;
    /* margin-left: -20px; */
    position: relative;
}

.leftContent {
    width: 50%;
    height: auto;
    z-index: -1;
}

.colorBackground {
    background-color: #0f132f;
    width: 50%;
    height: 700px;
    border-radius: 0 40px 0 0;
    display: flex;
    position: absolute;
    z-index: -1;

}

.imageBackground {
    width: 50%;
    height: 700px;
    overflow: hidden;
    /* margin-left: -10; */

}

.topText {
    color: white;
}