body
{
    background-color: #f8f8f8;
}

.container
{
    display: flex;
}

.colorBackground
{
    background-color: #0f132f;
    color: white;
    width: 50%;
    border-radius: 0 40px 40px 0;
    padding: 40px 0px 0 40px;
    height: 500px;
}

.menuGebruikergegevens
{
    margin-top: 20px;
}

.h2Overview
{
    margin-top: 100px;
}

.containerOverview
{
    width: 50%;
}

.activiteitenOverview
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.Rightactivity
{
    text-align: center;
    width: 25%;
}